

<% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all' %>
<% end %>
<div class="ui segment">
  <% @messages.each do |message| %>
    <% if message.body.present? %>
      <div class="item">
      <% if message.user == current_user %>
        <div class="self-container">
        <div>
      <% end %>
          
          <p class="list">
            <p class="item">
              <i class="right triangle icon"></i>
              <%= message.body %>
              <% if message.user == current_user %>
                <%= message.read ? '既読' : '未読' %>
              <% end %> 
              <% if current_user.id == message.user.id %>
                <%= link_to '削除', conversation_message_path(@conversation.id,message.id), method: :delete %>
              <% end %>
            </p>
          </p>
      <% if message.user == current_user %>
        </div>
        </div>
      <% end %>
      </div>
    <% end %>
  <% end %>
</div>
  <div class="partner-container">
    <div id="messages" class="self_massage" ></div>
  </div>


<div class="self-container">

<%= form_with(model: [@conversation, @message]) do |f| %>
  
    <%= f.text_area :body, class: "form-control" %>
  
    <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
  
    <%= f.submit "△" %>
  
<% end %>

</div>