
<div id="bottom_block">
  <div class="input_text">
    <%= form_with(model: [@conversation, @message]) do |f| %>
      <div class="scroll_down">
        <%= image_tag "pics.png", class:"message_pics" %>
      </div>
      <%= f.text_area :body, id: "form-control", placeholder: "メッセージを入力", onkeyup: "GetHeight();" %>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
      <%= f.submit "送信", class: "submit_buttom" %>
    <% end %>
  </div>
</div>
<div class="header_space"></div>
<div class="ui segment">
  <% @messages.each do |message| %>
    <% if message.body.present? %>
      <div class="item">

        <% if message.user == current_user %>
          <div class="delete_box">
          <% if current_user.id == message.user.id %>
            <%= link_to '削除', conversation_message_path(@conversation.id,message.id), class: "delete_message", method: :delete %>
          <% end %>
          </div>
          <div class="self-container">
            <div class="past_self_message">

        <% else %>
          <div class="partner-container">
            <div class="partner_span">
              <%= image_tag @opposite_user.image.url, class: "profile_message_img" %>
            </div>
            <div class="past_partner_message">
        <% end %>
          
            <i class="right triangle icon"></i>
            <%= message.body %>
            <% if message.user == current_user %>
              <%#= message.read ? '既読' : '未読' %>
            <% end %>

          </div>
        </div>

      </div>
    <% end %>
  <% end %>
</div>

<div class="partner-container">
  <%= @conversation.id %>
  <div id="conversation_id_is_<%= @opposite_id %><%= @conversation.id %>"></div>
</div>

<%#= @massages %>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-autosize@1.18.18/jquery.autosize.min.js"></script>

<script>
  $(function(){
    $('textarea').autosize();
  });
</script>

<script>
    (function() {
        const target = document.getElementById("form-control");
        const observer = new MutationObserver(function() {
            console.log(target.style.width, target.style.height);
            let element = document.getElementById('bottom_block');
            let text_area_height = document.getElementById('form-control').clientHeight;
            text_area_height = text_area_height + 40;
            element.style.height = text_area_height + "px";
        });

        const options = {
            attriblutes: true,
            attributeFilter: ["style"]
        };
        observer.observe(target, options);
    })();
</script>