<!DOCTYPE html>
<html>
  <head>
    <title>MessageAcApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="head_block">
      <div>
        <%= link_to image_tag("left_arrow.png", class:"left_arrow"), users_path if logged_in? %>
      </div>
      <div class="header_name">
        <% unless @opposite_user == nil %>
          <%= @opposite_user.name %>
        <% end %>
      </div>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <div>
        <% if logged_in? %>
          <div class="header_right">
            <%= link_to image_tag("person.png", class:"head_person"), user_path(current_user.id) %>
          </div>
          <div class="header_right">
            <%= link_to image_tag("door.png", class:"head_door"), session_path(current_user.id), method: :delete %>
            <% else %>
              <%= link_to "Sign up", new_user_path %>
              <%= link_to "Login", new_session_path %>
            <% end %>
          </div>
      </div>
    </div>
    <%= yield %>

  </body>
</html>
